{% extends "base.html" %}
{% block title %}Postlist Overview - HyeonLee.net{% endblock %}
{% block content %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/postlist-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Post</h1>
                    <span class="subheading">글과 사진을 남겨두는 공간입니다.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <a href="{{ url_for('new_post') }}" class="btn btn-success mb-3">새 글 작성</a>
            {% for post in posts %}
            <div class="post-preview">
                <a href="{{ url_for('post', post_id=post.id) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% endif %}
                </a>
                <p class="post-meta">
                    Posted on {{ post.date.strftime('%Y-%m-%d') }}
                </p>
            </div>
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}