{% extends "base.html" %}
{% block title %}Investment Rules - HyeonLee.net{% endblock %}
{% block content %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/rules-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Investment Rules</h1>
                    <span class="subheading">유명 투자자들의 원칙을 한눈에</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container my-5 text-center">
    <p>📘 PER, PBR, ROE 등 재무지표의 직관적 설명</p>
    <p>📊 기술적 보조지표를 포함한 투자원칙 패키지 구성</p>
    <p>🚧 준비 중입니다. 기대해주세요!</p>
</div>
{% endblock %}